<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 py-5">
      <form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
        <label>E-m@il:</label>
        <input type="email" 
        class="form-control"
        ngModel
        #email="ngModel"
        name="emailAddress"
        required
        email>
        <span class="text-danger" *ngIf="!email.valid && email.touched">Email is required!</span> 
        <br>
        <label>Subscription type:</label>
        <select name="subscriptions"
        [ngModel]="defaultSelection" 
        name="subscriptions" 
        class="form-control">
        <option *ngFor="let option of comboBoxOptions">{{option}}</option>
        <!-- <option value="basic">Basic</option>
          <option value="advanced">Advanced</option>
          <option value="pro">Pro</option> -->
        </select> 
        <br>
        <label>Password</label>
        <input type="password"
        class="form-control"
        ngModel
        #password="ngModel"
        name="password"
        required>        
        <span class="text-danger" *ngIf="!password.valid && password.touched">Password is required!</span>
        <hr>
        <button type="submit" #submit class="btn btn-primary">Subscribe</button>
      </form>
      <span class="text-danger" *ngIf="!myForm.valid && myForm.touched && submit.click">Please check input fields before submitting!</span>
    </div>
  </div>
</div>